{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  {% include 'head_css.html' %}
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="banner-back">
{% include 'javascript.html' %}
<!-- Wrap all page content here -->
<div id="wrap">

  <!-- Begin page content -->
  {% include 'navbar.html' %}
  {% block content %}
  {% endblock %}

</div>

<div id="footer">
  <div class="container" style="color:white">
    © 2016 Orange-Team
  </div>
</div>
</body>


<script>  
   tinymce.init({
    selector: "textarea",

    theme: "modern",

    paste_data_images: true,

    plugins: [
      "advlist autolink lists image charmap preview hr anchor pagebreak",
      "searchreplace wordcount code visualblocks visualchars fullscreen",
      "insertdatetime nonbreaking save table contextmenu directionality",
      "emoticons paste textcolor colorpicker textpattern"
    ],

    toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",

    toolbar2: "forecolor backcolor emoticons",

    image_advtab: true,

    file_picker_callback: function(callback, value, meta) {
      if (meta.filetype == 'image') {
        $('#upload_lesson_image').trigger('click');
        $('#upload_lesson_image').on('change', function() {
          var file = this.files[0];
          var reader = new FileReader();
          reader.onload = function(e) {
            callback(e.target.result, {
              alt: ''
            });
          };
          reader.readAsDataURL(file);
        });
      }
    }

  });
</script>  

<input name="image" style="display:none;" type="file" id="upload_lesson_image" class="hidden" onchange=""> 


</html>