{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/home.css" %}" rel="stylesheet">
    <link href="{% static "css/blog-post.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-social.css" %}" rel="stylesheet">
    <section style="background:#fff">
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-md-8">
                {% if recent_post %}
                    <!-- Title -->
                    <h3 class="font1">{{recent_post.title}}</h3>

                    <!-- Date and Author -->
                    <p class="blog_details">
                    <span class="glyphicon glyphicon-time"></span> Posted on {{recent_post.date_created|date}} at {{recent_post.date_created|time}} by <a href="#" class="title">{{recent_post.created_by|force_escape}}</a></p>

                    <hr>
                        
                    <img class="img-responsive" src="{% static '/static/img/latest-technology.jpg' %}" style="width:800px;height:300px;margin-bottom:10px;" alt="">
                    <!-- Preview Image -->
                    
                    <div class="blog_content">
                    <p>{{recent_post.details|safe|urlizetrunc:100}}</p>
                    </div>

                <hr>

                <!-- Posted Comments -->
                <h3>Comments</h3>
                <!-- Comment -->
                {% if recent_post.blog_comments.all %}
                    {% for comment in recent_post.blog_comments.all %}
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{comment.created_by}}
                                <small>{{comment.posted_date|date}} at {{comment.posted_date|time}}</small>
                            </h4>
                            {{comment.comment|safe|urlizetrunc:100}}
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="media">
                        There are no comments for this post. Use the button below to comment.
                    </div>
                {% endif %}


                <!-- Comment -->
                <!-- <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Comment 2
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Reply to comment 2
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </div>
                </div> -->
                <hr>

                <!-- Blog Comments -->
                 <button class="btn btn-primary" data-toggle="collapse" data-target="#comment">Leave a comment</button>

                <div id="comment" class="collapse" style="margin-top:20px">
                    <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form method='POST' action='/blog/comment/{{recent_post.id}}/'>
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row col-md-12 blog_content">
                                <div class="col-md-2"> 
                                    <label>Name:</label> 
                                </div>
                                <div class="col-md-10"> 
                                    <input class="form-control" name="name" id="name" type="text">
                                </div>
                            </div>
                            <div class="row col-md-12 blog_content">
                                <div class="col-md-2"> 
                                    <label>Email:</label> 
                                </div>
                                <div class="col-md-10"> 
                                    <input class="form-control" name="email" id="email" type="text">
                                </div>
                            </div>
                            <div class="row col-md-12 blog_content">
                                <div class="col-md-2"> 
                                    <label>Comment:</label> 
                                </div>
                                <div class="col-md-10"> 
                                    <textarea class="form-control" name="comment" id="comment" rows="3"> </textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary submit_comment">Submit</button>
                    </form>
                </div>
                </div> 
                
                {% else %}
                    <p>There are no blog posts available.</p>
                {% endif %}
                <!-- Post Content -->
                {% if request.user.is_site_admin %}
                    <button class="btn btn-danger" style="margin:20px" data-toggle="collapse" data-target="#post">Write a New Post</button>
                {% endif %}
                <div id="post" class="collapse" style="margin-top:20px">
                    <form method='POST' action='/blog/'>
                    {% csrf_token %}
                    <div style="margin-bottom:10px;">
                        
                        <label>Title</label>
                        <input type="text" id="title" class=" form-control" name="title" placeholder="Title of the Post" />
                    </div>
                    <div>
                        
                        <label>Details</label>
                        <textarea class="post form-control" id="details" name="details" placeholder="Content for the Post"></textarea>
                    </div>
                        <input type="submit" name="post" value="Post">
                    </form>
                </div>
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                {% if recent_post %}
                    <!-- Blog Search Well -->
                    <div class="well">
                        <h4>Blog Search</h4>
                        <form class="input-group" method='get' action="/blog/0/">
                          <input type="text" name='search' class="form-control" placeholder="Search" id='search'>
                          <span class="input-group-btn">
                            <button  class="btn btn-info" type="button" onclick="submit_query()"><span class="glyphicon glyphicon-search"></span></button>
                          </span>
                            <script type="text/javascript">
                              function submit_query(){
                                 var input = document.getElementById("search").value;
                                  if (input!==""){ 
                                  window.location.href =  '/blog/{{recent_post.id}}/?{% if query_string %}{{ query_string }}&{% endif %}search='+input;
                                  }
                                  else
                                    alert("Kindly enter a search term");
                              }
                          </script>
                        </form>
                    </div>

                    <!-- Blog Categories Well -->
                    <div class="well">
                        {% if query %}
                            <h4>{{num_blog}} blog(s) found for {{query}}</h4>
                        {% else %}
                        <h4>Recent Blogs</h4>
                        {% endif %}
                        <div class="row">
                            <div>
                                <ul class="list-unstyled recent_blogs">
                                {% for blog in blog_post reversed %}
                                    <li><!-- <a href="#" class="font1">{{blog.title}}</a> -->
                                        <a type="submit" class="font1" name="older" value="{{blog.id}}" href='/blog/{{blog.id}}/'>{{blog.title}}</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                {% endif %}
                <!-- Side Widget Well -->
                <div class="well col-md-12" >
                    <h4 class="font2">Do not miss out!</h4>
                    <div class="col-md-12">
                        <input type="email" class="form-control" id="id_email" maxlength="30" name="email" placeholder="Email Address" />
                    </div>
                    <div class="col-md-12"> 
                    <input class="btn btn-primary"  style="margin-top:10px" type="submit" value="Subscribe" />
                    </div>
                    <div class="row social_buttons"> 
                        <a href="#" class="btn btn-social-icon btn-twitter">
                            <span class="fa fa-twitter"></span>
                         </a>
                         <a href="#" class="btn btn-social-icon btn-facebook">
                            <span class="fa fa-facebook"></span>
                         </a>
                         <a href="#" class="btn btn-social-icon btn-instagram">
                            <span class="fa fa-instagram"></span>
                         </a>

                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</section>
{% endblock %}
