{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/home.css" %}" rel="stylesheet">
    <link href="{% static "css/blog-post.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-social.css" %}" rel="stylesheet">
    <script src="{% static "js/tinymce/jquery.tinymce.min.js" %}"></script>
      <script src="{% static "js/tinymce/tinymce.min.js" %}"></script>
      <script>

        tinymce.init({
          selector: "textarea.post",  // change this value according to your HTML
          plugins: "code    image"
        });

      </script>
    <section style="background:#fff">
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-md-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h3 class="font1">Embracing the Latest Technology</h3>

                <!-- Date and Author -->
                <p class="blog_details">
                <span class="glyphicon glyphicon-time"></span> Posted on April 24, 2017 at 9:00 PM by <a href="#">Open Build Team</a></p>

                <hr>
                    
                <img class="img-responsive" src="{% static '/static/img/latest-technology.jpg' %}" style="width:800px;height:300px;margin-bottom:10px;" alt="">
                <!-- Preview Image -->
                
                <div class="blog_content">
                {% for blog in blog_post %}
                <p>{{blog.details|safe}}</p>
                {% endfor %}
                    
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>
                </div>
                <!-- Post Content -->
                {% if request.user.is_admin %}
                    <button class="btn btn-danger" data-toggle="collapse" data-target="#post">Write a New Post</button>
                {% endif %}

                <div id="post" class="collapse" style="margin-top:20px">
                    <form method='POST' action='/blog/'>
                    {% csrf_token %}
                    <div>
                        
                        <label class="col-md 2">Title</label>
                        <input type="text" id="title" class=" form-control" maxlength="30" name="title" placeholder="Title of the Post" />
                    </div>
                    <div>
                        
                        <label>Details</label>
                        <textarea class="post form-control" id="details" name="details" placeholder="Content for the Post"></textarea>
                    </div>
                        <input type="submit" name="post" value="Post">
                    </form>
                </div>
                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Nested Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Recent Blogs</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well col-md-12" >
                    <h4 class="font2">Do not miss out!</h4>
                    <div class="col-md-12">
                        <input type="email" class="form-control" id="id_email" maxlength="30" name="email" placeholder="Email Address" />
                    </div>
                    <div class="col-md-12"> 
                    <input class="btn btn-primary"  style="margin-top:10px" type="submit" value="Subscribe" />
                    </div>
                    <div class="row social_buttons"> 
                        <a href="#" class="btn btn-social-icon btn-twitter">
                            <span class="fa fa-twitter"></span>
                         </a>
                         <a href="#" class="btn btn-social-icon btn-facebook">
                            <span class="fa fa-facebook"></span>
                         </a>
                         <a href="#" class="btn btn-social-icon btn-instagram">
                            <span class="fa fa-instagram"></span>
                         </a>

                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</section>
{% endblock %}
