{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<link href="{% static "css/contact.css" %}" rel="stylesheet" />
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container"><!-- 
            <div class="clear-fix"></div> -->
                <div class="row image">
                        <!----start-banner---->
                        <div class="text-center">
                          <div class="col-md-3 banner-img">
                            &nbsp;
                          </div>
                          <div class="col-md-6 banner-img">
                            <img src="{% static '/static/img/OpenBuild-Logo-Big.png' %}" border="1" vspace="10">
                          </div>

                        </div>

                </div>
                <div class="main_intro col-md-12 row">
                <div class="col-md-1"></div>

                </div>

                <div class="col-md-8 col-md-offset-2">
                  <a href="#opensource" class="btn btn-circle page-scroll">
                      <i class="fa fa-angle-double-down animated"></i>
                  </a>
                </div>

            </div>
        </div>
    </header>

    <!-- What we do Section -->
    <div id="opensource" class="container content-section toladata_about">
    <div class="main_frame">
        <div class="inner_frame col-md-12">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="font2">Open Source</h2>
                <p>At its core, OpenBuild helps to build and support new and existing Open Source software for corporate, nonprofits, government and startups who want to build fast, open and quality.</p>
               <p>This includes supporting the development and implementation of a Open Source  data management platforms</p>
                <p>Our teams of two or more provide dedicated support to clients that either directly contract us to support their data management process, development process improvements, migrating to cloud infrastucture and host their Open Source projects/systems.</p>
                <p>In addition to our Open Source projects, OpenBuild has two initiatives that promote the use of open data standards and technologies.</p>
            </div>
        </div>
    </div>
</div>


    <section id="stem" class="container content-section stem_about">
    <div class="main_frame">
        <div class="inner_frame main_frame1 col-md-12">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="font2">STEM Teaching and Training</h2>
                <p>With OpenBuild being an active member in the Open Source community, we are deeply passionate about contributing to the spread of learning and knowledge of Open Source technologies, both software and hardware in our local communities. </p>
                <img src="{% static '/static/img/a2.jpg' %}" align="right" style="max-height:200px; margin-left:15px">
                <p>Our developers, technical specialists, and analysts volunteer their time to work with local organizations and schools to teach STEM based courses.</p>
              <p>In addition, we have on-the job and job retrainig programs just starting in the US to help disenfranchised communites or individuals just needing a fresh career start learn to help manage and support software in cloud infrastructure. </p>
              <p> For more information on ways to get involved with our STEM Teaching program, please contact us at: <a href="#">info@open.build</a></p>

            </div>
        </div>
    </div>
    </section>
    <!-- end what we do section -->

    <!-- Contact Section -->

    <section id="contact" class="container content-section text-center">

        <div class="col-xs-12  col-md-6 col-md-offset-3">
          {% if messages %}
            <script>
            window.location.hash = '#contact';
            </script>
            {% for message in messages %}
              <p{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>
            {% endfor %}
          {% endif %}
        </div>

        <div class="form-style-6">
          <h1>Contact Us</h1>
          <form method="POST" action="{% url 'users.views.contact' %}">
            {% csrf_token %}
                <input type="text" id="id_sender" maxlength="30" name="sender" placeholder="Your Name" />
                <input type="text" id="id_subject" maxlength="30" name="subject" placeholder="Subject" />
                <input type="email" id="id_email" maxlength="30" name="email" placeholder="Email Address" />
                <textarea id="id_message" name="message" placeholder="Type your Message"></textarea>
                <input type="submit" value="Send" />
          </form>
    </div>
    </section>

  <hr/>

{% endblock %}


