{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<link href="{% static "css/contact.css" %}" rel="stylesheet" />
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
            <div class="clear-fix"></div>
                <div class="row">
                    <div class="">
                        <!----start-banner---->
                        <div class="text-center">
                          <div class="col-md-3 banner-img">
                            &nbsp;
                          </div>
                          <div class="col-md-6 banner-img">
                            <img src="{% static '/static/img/OpenBuild-Logo-Big.png' %}">
                          </div>

                        </div>

                    </div>

                </div>
                <div class="main_intro col-md-12 row">
                  <div class="col-md-1"> </div>
                  <p class="font1 col-md-10 ">OpenBuild is a nonprofit organization that builds, tests, supports and teaches about Open Source software and hardware projects. Our mission is to distribute and promote Open Source software for education, nonprofit, and business use cases in underserved communities around the world.
                </p>
                </div>
                <!----start-content---->
                <div class="featured_content col-md-12" id="feature">

                      <div class="col-md-4 feature_grid1" style=" border-right: 1px solid #E6E6E6;">
                        <i class="icon1"> </i>
                        <h3 class="m_1"><a href="#">Learn</a></h3>
                        <p class="m_2">Coding, Robotics, learn almost anything STEM related with our open courseware and videos!</p>
                      </div>

                      <div class="col-md-4 feature_grid1" style=" border-right: 1px solid #E6E6E6;">
                        <i class="icon2"> </i>
                        <h3 class="m_1"><a href="#">Research</a></h3>
                        <p class="m_2">Connect with existing open source projects and help build and test!</p>
                      </div>

                      <div class="col-md-4 feature_grid1">
                        <i class="icon3"> </i>
                        <h3 class="m_1"><a href="#">Solutions</a></h3>
                        <p class="m_2">Build your own STEM class, or contribute to an existing one!</p>
                      </div>
                </div>

                <div class="col-lg-8 col-lg-offset-2">
                  <a href="#about" class="btn btn-circle page-scroll">
                      <i class="fa fa-angle-double-down animated"></i>
                  </a>
                </div>

            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Grayscale</h2>
                <p>Grayscale is a free Bootstrap 3 theme created by Start Bootstrap. It can be yours right now, simply download the template on <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
    <div class="form-style-6">
          <h1>Contact Us</h1>
          <form>
            <input type="text" name="field1" placeholder="Your Name" />
            <input type="text" name="field1" placeholder="Subject" />
            <input type="email" name="field2" placeholder="Email Address" />
            <textarea name="field3" placeholder="Type your Message"></textarea>
            <input type="submit" value="Send" />
          </form>
          </div>
    </section>

  <hr/>
  <div class="row text-center">
    <div class="col-md-3">
      <h4><a href="https://openbuild.hackpad.com">Our Ideas!</a></h4>
    </div>
  </div>
  </div>

{% endblock %}


