{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

<link href="{% static "css/contact.css" %}" rel="stylesheet" />
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
            <div class="clear-fix"></div>
                <div class="row image">
                        <!----start-banner---->
                        <div class="text-center">
                          <div class="col-md-3 banner-img">
                            &nbsp;
                          </div>
                          <div class="col-md-6 banner-img">
                            <img src="{% static '/static/img/OpenBuild-Logo-Big.png' %}">
                          </div>

                        </div>

                </div>
                <div class="main_intro col-md-12 row">
                <div class="col-md-1"></div>
                  <p class="font1 col-md-10">OpenBuild is a nonprofit organization that builds, tests, supports and teaches about Open Source software and hardware projects. Our mission is to distribute and promote Open Source software for education, nonprofit, and business use cases in underserved communities around the world.
                </p>
                </div>
                <!--start-content-->
                <div class="featured_content col-md-12" id="feature">

                      <div class="col-md-4 feature_grid1" style=" border-right: 1px solid #E6E6E6;">
                        <h3 class="m_1"><a href="#toladata"><i class="icon1"> </i><br>Open Source</a></h3>
                        <p class="m_2">OpenBuild helps to build and support new and existing Open Source software for nonprofit organizations and social businesses</p>
                      </div>

                      <div class="col-md-4 feature_grid1" style=" border-right: 1px solid #E6E6E6;">
                        
                        <h3 class="m_1"><a href="#humanitarian"> <i class="icon2"> </i> <br> Data Certification</a></h3>
                        <p class="m_2">We are working with industry leaders to help define and create new security policies and privacy standards for humanitarian data sets.</p>
                      </div>

                      <div class="col-md-4 feature_grid1">
                        <h3 class="m_1"><a href="#stem"><i class="icon3"> </i><br>STEM Teaching</a></h3>
                        <p class="m_2">We are deeply passionate about contributing to the spread of learning and knowledge of Open Source technologies</p>
                      </div>
                </div>

                <div class="col-lg-8 col-lg-offset-2">
                  <a href="#toladata" class="btn btn-circle page-scroll">
                      <i class="fa fa-angle-double-down animated"></i>
                  </a>
                </div>

            </div>
        </div>
    </header>

    <!-- What we do Section -->
    <section id="toladata" class="container content-section toladata_about">
    <div class="main_frame">
        <div class="inner_frame col-md-12">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="font2">Open Source</h2>
                <p>At its core work, OpenBuild helps to build and support new and existing Open Source software for nonprofit organizations and social businesses working in the humanitarian and development sector. 
               </p>
                <img src="{% static '/static/img/mombasa-team.jpg' %}" align="left" style="max-height:200px; margin-right:15px">
               <p>This includes supporting the development and implementation of a Open Source NGO data management platform called <a href="https://github.com/toladata">TolaData.</a></p>
                <p>Our teams of two or more provide dedicated support to clients that either directly contract us to support their data management process and host their Open Source projects/systems or subcontract us through one of our partner Open Source projects.</p>
                <p>We provide support to our clients in 3 major stages for TolaData:</p><br>
                <ul class="toladata_list">
                  <li>Setup and deployment of organization instance</li>
                  <li>Platform enhancement requests</li>
                  <li>Training, dedicated technical support, and data migration and platform configuration</li>
                </ul>
                <p>In addition to our Open Source projects, OpenBuild has two initiatives that promote the use of open data standards and technologies.</p>
                
                
            </div>
        </div>
    </div>
    </section>

    <section id="humanitarian" class="container content-section ">
    <div class="main_frame">
        <div class="inner_frame col-md-12">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="font2">Humanitarian Data Certification</h2>
                <p>We are working with industry leaders to help define and create new security policies and privacy standards for humanitarian data sets.</p> 
                <p>In this process, we will set up a new certification board that act as a certification authority for OpenBuild. In this capacity, the board will develop a process for certifying a particular type of organization, service provider or tool as having adopted the OpenBuild security and privacy standards.</p>  
               <p>This recognized certification will allow us to create standard auditing procedures and practices inside networked organization, cloud services or tools for securing information, cleaning and anonymizing beneficiary data and helping to prevent intrusions, and raising awareness of security needs.</p>  
               <p>In addition, we will help to define and continually evolve information security practices and give organizations both large and small a start in protecting themselves and their valuable data.</p> 
            </div>
        </div>
    </div>
    </section>

    <section id="stem" class="container content-section ">
    <div class="main_frame">
        <div class="inner_frame main_frame1 col-md-12">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="font2">STEM Teaching</h2>
                <p>With OpenBuild being an active member in the Open Source community, we are deeply passionate about contributing to the spread of learning and knowledge of Open Source technologies, both software and hardware in our local communities. </p>
                <img src="{% static '/static/img/a2.jpg' %}" align="right" style="max-height:200px; margin-left:15px">
                <p>Our developers, technical specialists, and analysts volunteer their time to work with local organizations and schools and organizations to teach STEM based courses.</p>
              <p>In addition, we partner with local community members to help set up project spaces, offer master classes and open courseware as well as introduce projects that attempt to solve real-life challenges through STEM teaching. </p>
              <p>All of these focus on Open Source software and hardware initiatives as well teaching and mentoring students and junior team members about process, best practices and more in the evolving tech industry.</p>   
              <p> For more information on ways to get involved with our STEM Teaching program, please contact us at: <a href="#">info@open.build</a></p> 

            </div>
        </div>
    </div>
    </section>
    <!-- end what we do section -->

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
    <div class="form-style-6">
          <h1>Contact Us</h1>
          <form method="POST" action="{% url 'users.views.contact' %}">
            {% csrf_token %}
                <input type="text" id="id_sender" maxlength="30" name="sender" placeholder="Your Name" />
                <input type="text" id="id_subject" maxlength="30" name="subject" placeholder="Subject" />
                <input type="email" id="id_email" maxlength="30" name="email" placeholder="Email Address" />
                <textarea id="id_message" name="message" placeholder="Type your Message"></textarea>
                <input type="submit" value="Send" />
          </form>
    </div>
    </section>

  <hr/>
  <div class="row text-center">
    <div class="col-md-3">
      <h4><a href="https://openbuild.hackpad.com">Our Ideas!</a></h4>
    </div>
  </div>
  </div>

{% endblock %}


