{% load staticfiles %}

<script src="{% static 'js/jquery-2.2.2.min.js' %}" rel="script"></script>

<!-- Bootstrap core js -->
<script src="{% static 'js/bootstrap.min.js' %}" rel="script"></script>
<script src="{% static 'js/bootstrap-tour.min.js' %}" rel="script"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!--setting up app tours-->
<script src="{% static 'js/app_tour/apptour.js'%}" rel="script"></script>
<script src="{% static 'js/app_tour/tour_controller.js'%}" rel="script"></script>
<script src="{% static 'js/app_tour/admin_tours_view.js'%}" rel="script"></script>
<script src="{% static 'js/app_tour/create_tour_form.js'%}" rel="script"></script>
<script src="{% static 'js/app_tour/display_tours.js'%}" rel="script"></script>
<script src="{% static 'js/app_tour/generate_tour_step.js'%}" rel="script"></script>
<script src="{% static 'js/app_tour/apptour_main.js'%}" rel="script"></script>


<!-- site js -->
