{% load staticfiles %}
<nav class="navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <img style="margin-top: -8px; max-width: 140px;" src='{% static "img/OpenBuild-Logo.png" %}'/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-left navbar-main-collapse">
                <ul class="nav navbar-nav pull-down">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="team_dropdown"> 
                        <a href="" class="page-scroll  dropdown-toggle" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-question-sign"></span>About<span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li class="menu_link"><a href="/#toladata">TolaData</a></li>
                            <li class="menu_link"><a href="/#humanitarian">Humanitarian Data Certification</a></li>
                            <li class="menu_link"><a href="/#stem">Stem Teaching</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#contact"><span class="glyphicon glyphicon-earphone"></span>Contact</a>
                    </li>
                    <li class="team_dropdown"> 
                        <a href="/ourteam" class="page-scroll  dropdown-toggle" data-toggle="dropdown" type="button"><i class="fa fa-users" aria-hidden="true"></i>Our Team <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li class="menu_link"><a href="/ourteam">Our Team</a></li>
                            <li class="menu_link"><a href="/ourteam/#currentprofiles">Current Profiles</a></li>
                            <li class="menu_link"><a href="/ourteam/#internship">Internship</a></li>
                        </ul>
                    </li>
                    <li>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'courses' %}"><span class="glyphicon glyphicon-education"></span> Courses</a></li>
                    {% endif %}
                    </li>
                    <li>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_site_admin %}
                          <li><a href="{% url 'admin' %}"><span class="glyphicon glyphicon-education"></span>Manage Users</a></li>
                          <li><a href="{% url 'admin_courses' %}"><span class="glyphicon glyphicon-education"></span>Manage Courses</a></li>
                        {% endif %}
                    {% endif %}
                    </li>
                    <li>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_professor %}
                          <li><a href="{% url 'professor' %}"><span class="glyphicon glyphicon-education"></span>Manage Courses</a></li>
                        {% endif %}
                    {% endif %}
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav pull-down">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    {% if not request.user.is_authenticated%}
                    <li>
                        <a class="page-scroll" href="/accounts/register"><span class="glyphicon glyphicon-plus"></span>Sign Up</a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle page-scroll" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> Login <span class="caret"></span></a>
                        <div class="dropdown-menu login_dropdown col-md-5" style="padding: 15px;min-width:250px">
                            <form method="post" action="{% url 'django.contrib.auth.views.login' %}" accept-charset="UTF-8">
                                {% csrf_token %}

                                <input style="margin-bottom: 15px;" type="text" placeholder="Username" id="username" name="username" class="form-control">
                                <input style="margin-bottom: 15px;" type="password" placeholder="Password" id="password" name="password" class="form-control">
                                <input style="float: left; margin-right: 10px;" type="checkbox" name="remember-me" id="remember-me" value="1">
                                <label class="string optional font1" for="user_remember_me"> Remember me</label>
                                <input class="btn btn-primary form-control" type="submit" id="sign-in" value="Sign In">
                                <a style="text-align: center; vertical-align: middle;line-height: 40px;" href="/accounts/password/reset/">Forgot Password?</a>
                                <label class="col-md-offset-5 col-md-2"> <font class="font1" style="margin-top:5px;">or</font></label>
                                <a href="{% url "social:begin" "google-oauth2" %}"><input class="btn btn-primary form-control" type="button" id="sign-in-google" value="Sign In with Google"></a>
                                <!-- <input class="btn btn-primary btn-block" type="button" id="sign-in-twitter" value="Sign In with Twitter" -->
                            </form>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function(){
                                //Handles menu drop down
                                $('.dropdown-menu').find('form').click(function (e) {
                                    e.stopPropagation();
                                });
                            });
                        </script>
                    </li>
                    {% else %}
                    <li>
                       <a href="" class="page-scroll  dropdown-toggle" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-user"></span> {{request.user}} <span class="caret"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'auth_logout' %}?next=/#">Logout</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>