{% load staticfiles %}
<nav class="navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img style="margin-top: -8px; max-width: 140px;" src='{% static "img/OpenBuild-Logo.png" %}'/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-left navbar-main-collapse">
                <ul class="nav navbar-nav pull-down">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li>
                        <a class="page-scroll" href="/"><span class="glyphicon glyphicon-home"></span>Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about"><span class="glyphicon glyphicon-info-sign"></span>About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact"><span class="glyphicon glyphicon-earphone"></span>Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#"><span class="glyphicon glyphicon-education"></span>Our Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download"><span class="glyphicon glyphicon-education"></span>Courses</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav pull-down">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li>
                        <a class="page-scroll" href=""><span class="glyphicon glyphicon-plus"></span>Sign Up</a>
                    </li>
                    <li>
                        <a class="page-scroll" href=""><span class="glyphicon glyphicon-user"></span>Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>