{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
  <!-- Chapter css is in course core css -->
  <link href="{% static "css/course.css" %}" rel="stylesheet"/>
  <link href="{% static "css/professor.css" %}" rel="stylesheet"/>
  <link href="{% static "css/breadcrumb.css" %}" rel="stylesheet"/>
  <script src="{% static "js/tinymce/jquery.tinymce.min.js" %}"></script>
  <script src="{% static "js/tinymce/tinymce.min.js" %}"></script>
  </script>
  {% include 'head_css.html' %}
  {% include 'javascript.html' %} 
  <div class="container professor-panel-content">
      <div class="prof-course">
      <section class="bread-course" >
        <ul class="nav nav-tabs course_nav">
          <li><a  href="/">OpenBuild</a></li>
          <li ><a href="{% url 'professor' %}">My Courses</a></li>
          {% url 'chapter' course_name slug as chapter_url %}
        {% if request.get_full_path ==  chapter_url %}
          <li class="active"><a href="#">{{ course_name }}</a></li>
        {% endif %}

        <div class="collapse navbar-collapse navbar-right">
          <ul class="nav nav-tabs">
              <li>
                 <a href="" class=" dropdown-toggle" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-user"></span> <font class="prof">{{request.user}}</font>  <span class="caret"></span> </a>
                  <ul class="dropdown-menu"> 
                      <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>                     
                  </ul>
              </li>
          </ul>
        </div>
        </ul>
      </section>
    </div>
    <div class="col-md-12"><h3 >{{ title }} </h3></div>

    <div class="col-md-12 row tab-content">

      <div class="col-md-6 chapter-text-input">
        <form method='POST' action=''>
          {% csrf_token %}
          {{ add_txt_form|crispy }}
          <input class='btn btn-primary' type='submit' name="add_text" value='Add text'/>
        </form>
      </div>

      <div class="col-md-3">
        <form method='POST' action=''>
          {% csrf_token %}
          {{ add_link_form|crispy }}
          <input class='btn btn-primary' type='submit' name="add_link" value='Add YouTube video link'/>
        </form>
      </div>

      <div class="col-md-3">
        <form method='POST' action='' enctype="multipart/form-data">
          {% csrf_token %}
          {{ file_upload_form|crispy }}
          <input class='btn btn-primary' type='submit' name="add_file" value='Add File'/>
        </form>
      </div>
    </div>
  

    <!-- Chapter text row -->
    <div class="col-md-12">
      {% if queryset_txt_block %}
        <table class="table table-bordered generic-table scroll">
          <thead>
          <tr>
            <th>Lesson Name</th>
            <th>Date created</th>
            <th>Actions</th>
          </tr>
          </thead>
          {% for instance in queryset_txt_block %}
            <tr>
              <td class="col-md-7" style="text-align:left">{{ instance.lesson|safe }}</td>
              <td class="col-md-2">{{ instance.date_created }}</td>
              <td class="col-md-3">
                <a href="{% url 'edit_txt' course_name slug instance.id %}">
                  <input class='btn btn-primary btn-sm' type='submit' value='Edit Lesson'/>
                </a>
                <a href="{% url 'delete_txt' instance.id %}">
                  <input onclick=" return confirm('Are you sure you wnt to delete this Lesson')"
                         class='btn btn-danger btn-sm' type='submit' value='Delete Lesson'/>
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>

    <!--show lesson modal-->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <button onclick="closeNav()" type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="lesson_view_title">
            </h4>
          </div>
          <div id="lesson_view_body">
          </div>
          <div class="modal-footer">
            <button onclick="closeNav()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script>
      function openNav(title, content) {
          $("#lesson_view_title").append("<h1 style='text-align: center;' id='appended_title'>" + title + "</h1>")
          $("#lesson_view_body").append("<div id='appended_body'>" + content + "</div>")
      }

      function closeNav() {
          $("#appended_title").remove()
          $("#appended_body").remove()
      }
    </script>

  <style>
    .modal-dialog {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .modal-content {
      height: auto;
      min-height: 100%;
      border-radius: 0;
    }
  </style>


    <!-- Link row -->
    <div class="row">
      {% if queryset_yt_link %}
        <table class="table table-bordered generic-table scroll_table">
          <thead>
          <tr>
            <th>Link</th>
            <th>Date created</th>
            <th>Actions</th>
          </tr>
          </thead>
          {% for instance in queryset_yt_link %}
            <tr>
              <td class="col-md-8">{{ instance.link }}</td>
              <td class="col-md-2">{{ instance.date_created }}</td>
              <td class="col-md-2">
                <a href="{% url 'edit_link' course_name slug instance.id %}">
                  <input class='btn btn-primary btn-sm' type='submit' value='Edit Link'/>
                </a>
                <a href="{% url 'delete_link' instance.id %}">
                  <input onclick=" return confirm('Are you sure you wnt to delete link:\n{{ instance.link }}')"
                         class='btn btn-danger btn-sm' type='submit' value='Delete Link'/>
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>
  


    <!-- File row -->
    <div class="row">
      {% if queryset_files %}
        <table class="table table-bordered generic-table scroll_table">
          <thead>
          <tr>
            <th>File</th>
            <th>Date created</th>
            <th>Actions</th>
          </tr>
          </thead>
          {% for instance in queryset_files %}
            <tr>
              <td class="col-md-8">
              <a href='{{ instance.file.url }}'>{{ instance.file }}</a>
              </td>
              <td class="col-md-2">{{ instance.date_created }}</td>
              <td class="col-md-2">
                <a href="{% url 'delete_file' instance.id %}">
                  <input onclick=" return confirm('Are you sure you wnt to delete file:\n{{ instance.file }}')"
                         class='btn btn-danger btn-sm' type='submit' value='Delete File'/>
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>
  </div>



{% endblock %}