{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <!-- About core css -->
  <link href="{% static "css/about.css" %}" rel="stylesheet"/>
  {% include 'breadcrumb.html' %}


  <div class="about_bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-8 about_left">
          <h3 class="m_2">A New Team</h3>
          <ul class="about_grid1 about_box">
            <li class="about_img"><img src="{% static "img/a1.jpg" %}" class="img-responsive" alt=""/></li>
            <li class="about_desc">
              <h5><a href="#">OpenBuild-team</a></h5>
              <p>e-Learning is online educational site, we aspire for great design, a place to study and share ideas.
                Our goal is to create solutions that are exploratory, educational and inspirational. Let's work together!
               Register for free and enjoy countless educational video lectures.</p>
              <a href="#" class="about_btn">more</a>
            </li>
            <div class="clearfix"></div>
          </ul>

          <ul class="about_grid1">
            <li class="about_img"><img src="{% static "img/a2.jpg" %}" class="img-responsive" alt=""/></li>
            <li class="about_desc">
              <h5><a href="#">What we Do</a></h5>
              <p><a href="https://openbuild.slack.com/">Join the Discussion</a><br/>
                OpenBuild is a non-profit entity that provides and supports new and existing hacker/build spaces for Open Source projects and open hardware builders in the U.S. and developing countires. The board for OpenBuild will be comprised of mentors, educators and industry professionals who will help set up project spaces, offer master classes and open courseware as well help define and create new security and privacy standards policies for humanitarian and open data sets. The board will also help over see certification standard and service to non-profit organizations and private businesses that store, share or create humanitarian data.
                <br/><br/>
                The first two hackerspaces will be located in Nairobi Kenya and Saigon Vietnam. The spaces will provide access to open source hardware tools and work spaces as well as classes and guidance on how to build open source software and hardware, how to test it and run security audits and provide open source specs and licenses for each project.  These courses will then lead graduates to business opportunities in Nairobi and Portland helping Open Source projects or private companies using OSS tools with on-demand software patches support and security audits.  In the Nairobi office in particular, the classes will also help to set up a mentoring network to help students or members of the hackerspace find work for organizations that will not exploit them as temporary and cheap labor and build careers with in the industry rather then be treated as supplemental labor.
                <br/><br/>
                For revenue sources, each lab will have membership dues for non-scholarship students as they graduate if they wish to continue in the space.  We also hope to find grant funds and revenue opportunities build hardware and software tools for organizations.  Open Source software projects that need additional development resources will be used as contracting services to help fund positions with Open Build and as contractors with TolaData and organizations like Mercy Corps.
                <br/><br/>
                The standards board will guide the curriculum and identify individuals or groups of students to apply for the incubator space to help launch their open source based businesses.  These incubator sessions will provide office, access to hardware and networking as well as minimal amount of funding for the startup and connections to other funding sources.  They will also attempt to connect select groups with development opportunities with government, local non-profit and NGO’s to work on products and solutions for needs within the industries.
                <br/><br/>
                The board will also act as a certification authority for Open.Build. In this capacity the board will develop a process for certifying a particular type of organization, service provider or tool as having adopted the OpenBuild security and privacy standards. This recognized certification will allow us to create standard auditing procedures and practices inside networked organization, cloud services or tools for securing information, cleaning and anonymizing beneficiary data and helping to prevent intrusions and raising awareness of security needs.
                <br/><br/>
                We will also help to define and continually evolve information security practices and give organizations both large and small a start in protecting themselves and their valuable data..</p>
            </li>
            <div class="clearfix"></div>
          </ul>
        </div>

        <div class="col-md-4">
          <h3 class="m_2">More Resources</h3>
          <div class="list styled custom-list">
            <ul>
              <li><span class="dropcap">1</span>
                <h5><a href="https://openbuild.hackpad.com">https://openbuild.hackpad.com</a></h5>
                <p> Find some of our original lessons plans and ideas for Open Build projects and Build Spaces.
                </p>
              </li>
              <li><span class="dropcap">2</span>
                <h5><a href="#">Donate Now</a></h5>
                <p>Open.Build is a non-profit organization funded by donors both large and small.  Contribute to help us build more
                  spaces, create more open source STEM class content, and fund more open source start ups.
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>







{% endblock %}