{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <!-- Course core css -->
  <link href="{% static "css/course.css" %}" rel="stylesheet"/>
  <div class="container" style="margin-top:100px">


    <div class="message">
        {% if messages %}
          {% for message in messages %}
            <p{% if message.tags %} class="alert alert-warning"{% endif %}>{{ message }}</p>
          {% endfor %}
        {% endif %}
    </div>

    <div class="row">
      {% include 'courses/course_box_model.html' %}
    </div>

  </div>

{% endblock %}
