{% load staticfiles %}

{% block content %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet"/>
  <link href="{% static "css/professor.css" %}" rel="stylesheet"/>
  <link href="{% static "css/breadcrumb.css" %}" rel="stylesheet"/>
  {% include 'head_css.html' %}
  {% include 'javascript.html' %} 

  <div class="container professor-panel-content">
    <div class="prof-course">
      <section class="bread-course" >
        <ul class="nav nav-tabs course_nav">
          <li><a  href="/">OpenBuild</a></li>
          <li ><a href="{% url 'courses' %}">All Courses</a></li>
          <li class="active"><a href="#">{{ title1 }}</a></li>
          <div class="collapse navbar-collapse navbar-right">
            <ul class="nav nav-tabs">
                <li>
                   <a href="" class=" dropdown-toggle" data-toggle="dropdown" type="button"><span class="glyphicon glyphicon-user"></span> <font class="prof">{{request.user}}</font>  <span class="caret"></span> </a>
                    <ul class="dropdown-menu"> 
                        <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>                     
                    </ul>
                </li>
            </ul>
          </div>
        </ul>
      </section>
    </div>
    <div class="col-md-12"><h3 >{{ title }} </h3></div>
    <div class="row">
      <div class="col-md-2">
        {% if chapter_list %}

          <ul class="sidebar-nav">
            <li>
              {% for instance in chapter_list %}
                <a class="a-target" href="{% url 'student_course' course_name instance.slug %}">
                  {{ instance.chapter_name }}
                </a>
              {% endfor %}
            </li>
          </ul>

        {% endif %}
      </div>

      <div class="col-md-10" style="color:#000;">
        {% if result_list %}
          {% for item in result_list %}
            {% if item.link %}
              {% if 'youtube.com' in item.link %}
                <div class="course-inner-content video">
                  <iframe width="640" height="360" src="{{ item.link }}" frameborder="0" allowfullscreen></iframe>
                </div>
              {% else %}
                <div class="course-inner-content">
                {{ item.link|safe }}
                </div>
                {% endif %}
            {% elif item.lesson %}
              <div class="course-inner-content">
                <h3 style="color: #275B91">{{item.lesson_name|safe}}</h3>
                <font class="lesson_font">{{ item.lesson|safe }}</font>
              </div>
            {% else %}
              <div class="course-inner-content">
                <a href='{{ item.file.url }}'>{{ item.file }}</a>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      /* Make left-border same height as parent */
      var rightColumn = $(".col-md-10");
      var parentHeight = rightColumn.parent().height();
      rightColumn.css("height", parentHeight);

      /* Add active class on chapter change */
      var pathname = window.location.pathname;
      console.log(pathname);
      pathname = pathname.substring(0, pathname.length - 1);
      $('.sidebar-nav > li a[href="' + pathname + '"]').addClass('active-sidebar');
    });
  </script>

{% endblock %}
