
{% load staticfiles %}

{% block content %}
  <link href="{% static 'css/sidebar.css' %}" rel="stylesheet"/>
  <link href="{% static "css/breadcrumb.css" %}" rel="stylesheet"/>
  {% include 'head_css.html' %}
  {% include 'javascript.html' %}

  <div class="container student-course">
    <div class="row">
    <!-- breadcrumb -->
    <div class="bread-course">
      <div class="container">
        <section class="title-course" >
          <ul class="nav navbar-nav course_nav">

            <li>
              <a href="/">OpenBuild&nbsp</a>
              {% if  path  != None %}
                {% url 'forum' as forum_url %}
                {% if request.get_full_path != forum_url %}
                  <span class="spacing-path">&nbsp&nbsp&nbsp</span><a href="/{{ redirect_path }}">&nbsp{{ path }}&nbsp</a>
                {% endif %}
              {% endif %}
            </li>

            {% url 'student_course' course_name slug as student_course_url %}
            {% if request.get_full_path ==  student_course_url %}
              <li><a href="{% url 'courses' %}">Courses</a></li>
            {% endif %}

            {% url 'chapter' course_name slug as chapter_url %}
            {% if request.get_full_path ==  chapter_url %}
              <li><a href="{% url 'professor_course' course_name %}">{{ course_name }}</a></li>
            {% endif %}

            {% url 'edit_txt' course_name slug text_id as chapter_url %}
            {% if request.get_full_path ==  chapter_url %}
              <li><a href="{% url 'chapter' course_name slug %}">{{ course_name }}</a></li>
            {% endif %}

            {% url 'edit_chapter' course_name chapter_id as chapter_url %}
            {% if request.get_full_path ==  chapter_url %}
              <li><a href="{% url 'professor_course' course_name %}">{{ course_name }}</a></li>
            {% endif %}

            {% url 'edit_link' course_name slug yt_id as chapter_url %}
            {% if request.get_full_path ==  chapter_url %}
              <li><a href="{% url 'chapter' course_name slug %}">{{ course_name }}</a></li>
            {% endif %}
          </ul>
        <div>
        </div>
        </section>
      </div>
    </div>
<!-- end breadcrumb -->
<div class="col-md-12">
  <h3 class="font1">{{ title }} </h3>
      <div class="col-md-2">
        {% if chapter_list %}

        <div class="col-xs-12  col-md-6 col-md-offset-3">
          {% if messages %}
            {% for message in messages %}
              <p{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>
            {% endfor %}
          {% endif %}
        </div>

          <ul class="sidebar-nav">
            <li>
              {% for instance in chapter_list %}
                <a class="a-target" href="{% url 'student_course' course_name instance.slug %}">
                  {{ instance.chapter_name }}
                </a>
              {% endfor %}
            </li>
          </ul>

        {% endif %}
      </div>
    </div>
  </div>
</div>

  <script>
    $(document).ready(function () {
      /* Make left-border same height as parent */
      var rightColumn = $(".col-md-10");
      var parentHeight = rightColumn.parent().height();
      rightColumn.css("height", parentHeight);

      /* Add active class on chapter change */
      var pathname = window.location.pathname;
      pathname = pathname.substring(0, pathname.length - 1);
      $('.sidebar-nav > li a[href="' + pathname + '"]').addClass('active-sidebar');
    });
  </script>

{% endblock %}
