{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

<script>
  {% if instance %}
  tour_groups={}
  {% for k,v in instance.tour_groups.items%}
  tour_groups.{{k}}= "{{v}}" == "True" ? true : false;
  {%endfor%}

  var instance = {};
  instance.tour = {
        tour_name: "{{instance.tour_name}}",
        id:{{instance.id}},
        tour_description:"{{instance.tour_description}}",
        tour_image:"{{instance.tour_image}}",
        tour_groups:tour_groups,
  };
  instance.steps = []
  {% for step in instance.step_set.all %}
  var add_step ={
        title:"{{step.title}}",
        content:"{{step.content}}",
        path: "{{step.path}}",
        element: "{{step.element}}",
        placement: "{{step.placement}}",
        order: "{{step.order}}"
      };
  instance.steps.push(add_step);
  {% endfor %}
  {% else %}
  var instance = null;
  {% endif %}
</script>


<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<a style="float:right; margin-right:2em;" href="{% url 'view_tours' %}" ><button type="button" id="view_tours" class="btn btn-primary">View Existing Tours</button></a>
<br/>
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <form action="/apptours/create_tour/" method="POST" id="post-form">
          {% csrf_token %}
        <div class="form-group">
          <label for="tour_name">Tour Name:</label>
          <input type="name" class="form-control" id="tour_name">
        </div>
        <div class="form-group">
          <label for="tour_description">Tour Description:</label>
            <textarea type="name" class="form-control" id="tour_description"></textarea>
        </div>
        <div class="form-group">
          <label for="tour_image">Tour Image:</label>
          <input type="file" class="form-control" id="tour_image">
          <button type="button" id="tour_image_reset" class="btn btn-default">Reset Image</button>
          <div class="tour_image"><img id="tour_image_display" src=""></div>
        </div>
        <div id="tour_group" class="form-group">
          <label for="tour_groups">Tour Groups:</label>
          <label class="checkbox-inline"><input id="tour_group_user" type="checkbox" value="">Users</label>
          <label class="checkbox-inline"><input id="tour_group_admin" type="checkbox" value="">Administrator</label>
          <label class="checkbox-inline"><input id="tour_group_professor" type="checkbox" value="">Professors</label>
        </div>
        <div>
          <label>Steps:</label>
          <div id="steps">
            <button type="button" class="btn btn-primary">Step <span class="badge">1</span></button>
              <div id="step1">
                <div class="form-group">
                    <label >Title:</label>
                    <input class="form-control" id="step1_title">
                  </div>
                <div class="form-group">
                    <label >Content:</label>
                    <textarea class="form-control" id="step1_content"></textarea>
                  </div>
                <div style="display: none;" class="form-group">
                    <label >Placement:</label>
                    <select  id="step1_placement" class="form-control">
                        <option value="top">Top</option>
                        <option value="bottom">Bottom</option>
                        <option value="left">Left</option>
                        <option value="right">Right</option>
                    </select>
                </div>
                <div style="display: none;" class="form-group">
                    <label>Path:</label>
                    <input class="form-control" id="step1_path">
                  </div>
                <div style="display: none;" class="form-group">
                    <label >Element:</label>
                    <input class="form-control" id="step1_element">
                  </div>
                 <div  style="display: none;" class="form-group">
                    <label >Order:</label>
                      <input readonly value="1" class="form-control" id="step1_order">
                 </div>
                  <pre>Path:  <span id="step1_path_display"></span>  Element: <span id="step1_element_display"></span>   Position: <span id="step1_placement_display"></span>    Order: <span id="step1_order_display">1</span></pre>
                  <a class="app_tour_iframe_link" href="">view iframe of site to find elements</a>
            </div>
          <!--where steps are dynamically added-->
          </div>
            <!--form validation goes here-->
            <div style="display:none;" id="apptour_error_box" class="alert alert-danger">
                <strong>Form Invalid:</strong><p id="apptour_form_errors"></p>
            </div>
           <button type="button" id="add_step" class="btn btn-primary">Add Step</button>
           <button type="button" id="remove_step" class="btn btn-danger">Remove Last Step</button>
           <button type="button" id="save_tour" class="btn btn-info">Save Tour Progress</button>
        </div>
        <button type="button" id="submit_apptour" class="btn btn-success btn-block">Submit</button>
      </form>
    </div>
  </div>
</div>


<!-- Modal IFrame -->
<div  id="app_tour_iframe_modal" class="modal fade" role="dialog">
  <div style="width:95%; height:95%;" class="modal-dialog">
      <div style="width:95%; height:95%;" class="modal-content">
        <button type="button btn-danger" class="close" data-dismiss="modal">CLOSE</button>
        <h4 class="modal-title">Select Tour Elements</h4>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#iframe_directions">Directions</button>
          <div id="iframe_directions" class="collapse">
            To select an element to bind the app tour step to, navigate to the location
            on this site where the element lies and double click the desired element.
            When you double click an element a popup will show from the desired element.
            The popup will ask you to confirm the chosen element. This tracks three items:
            The css path of the chosen element, the page path, and the side of the element that
            is used to bind the app tour step to. If you wish to choose another element just double
            click anwhere else than the confirm button and the popup will go away for you to choose another element;
            however, if you wish to choose this element, double click the confirm button.
          </div>
        <iframe id="app-tour-iframe" style="width:100%; height:90%;"src="/"></iframe>

        <div style="height:100px;" class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
        </div>
      </div>
  </div>
</div>


<!-- Modal Confirm Submit -->
  <div class="modal fade" id="modal_confirm" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirm you Want to Add This Tour</h4>
        </div>
        <div class="modal-body">
          <div>
            <div>
              <h4>Tour Name:</h4><p id="confirm_apptour_tourname"></p>
                Tour Description:<p id="confirm_apptour_tour_description"></p>
                Tour Groups: <p id="confirm_apptour_tour_groups"></p>
                Tour Image:<br/><div class="tour_image"><img id="confirm_apptour_tour_image" src=""></div>
            </div>
            <div id="confirm_apptour_steps">
              <!--add steps to display dynamically-->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" id="confirm_apptour_try_tour">Try Tour</button>
          <button type="button" id="confirm_apptour_submit" class="btn btn-primary" data-dismiss="modal">Confirm Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


