{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}



<div class="container">
  <h2>Open Build Tours</h2>
  <button style="float:right; margin-right:2em;" type="button" id="view_saved_tours" class="btn btn-info">View Saved Tours</button>
  <button style="float:right; margin-right:2em;display:none;" type="button" id="view_complete_tours" class="btn btn-primary">View Completed Tours</button>
  <br/>
  <p>Click on the collapsible panel to view the tour and close it.</p>
  <div class="panel-group" id="complete_tours_list">
    {% for tour in tours %}
    <div class="panel panel-default">
      <a data-toggle="collapse" href="#collapse{{tour.id}}">
        <div class="panel-heading">
        <h3 class="panel-title">
          {{tour.tour_name|upper}}
        </h3>
        </div>
      </a>
      <div id="collapse{{tour.id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <br/>
          <h5>
          Created: {{tour.tour_create_date}}
          </h5>
          <h5>
          Tour Groups:
            {%for tour, group in tour.tour_groups.items%}
            {%if group%}
              {{tour}}
            {%endif%}
            {%endfor%}
          </h5>
          {% if tour.tour_image != '' %}
          <img src="{{tour.tour_image}}">
          {% endif %}
          <h4>Tour Steps:</h4>
          <br/>
          {% for step in tour.step_set.all %}
          <h5>Title:</h5> <p style='font-family: "Times New Roman", Times, serif; font-size:1em;'>{{step.title}}</p>
            <br/>
          <h5>Content:</h5> <p style='font-family: "Times New Roman", Times, serif; font-size:1em;'>{{step.content}}</p>
            <br/>
          <pre>Path: {{step.path}}   Element: {{step.element}}    Position: {{step.placement}}    Order: {{step.order}}</pre>
          {% endfor %}
          <a href="{% url 'update_apptour' tour.id %}"><button type="button"  class="btn btn-primary">Edit Tour</button></a>
          <a href="{% url 'delete_tour' tour.id %}" onclick='return confirm("Are you sure you want to delete {{tour.tour_name}} tour?");'><button onclick="confirmDelete('{{tour.tour_name}}','{{tour.id}}')" type="submit"  class="btn btn-danger">Remove Tour</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="panel-group" id="saved_tours_list" style="display:none;">
    <p>Saved tours in progress to completion</p>
    {% for tour in saved_tours %}
    <div class="panel panel-default">
      <a data-toggle="collapse" href="#collapse{{tour.id}}">
        <div class="panel-heading">
        <h3 class="panel-title">
          {{tour.tour_name|upper}}
        </h3>
        </div>
      </a>
      <div id="collapse{{tour.id}}" class="panel-collapse collapse">
        <div class="panel-body">
          <br/>
          <h4>Tour Steps:</h4>
          <br/>
          {% for step in tour.step_set.all %}
          <h5>Title:</h5> <p style='font-family: "Times New Roman", Times, serif; font-size:1em;'>{{step.title}}</p>
            <br/>
          <h5>Content:</h5> <p style='font-family: "Times New Roman", Times, serif; font-size:1em;'>{{step.content}}</p>
            <br/>
          <pre>Path: {{step.path}}   Element: {{step.element}}    Position: {{step.placement}}    Order: {{step.order}}</pre>
          {% endfor %}
          <a href="{% url 'update_apptour' tour.id %}"><button type="button"  class="btn btn-primary">Edit Saved Tour</button></a>
          <a href="{% url 'delete_tour' tour.id %}" onclick='return confirm("Are you sure you want to delete {{tour.tour_name}} tour?");'><button onclick="confirmDelete('{{tour.tour_name}}','{{tour.id}}')" type="submit"  class="btn btn-danger">Remove Saved Tour</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% endblock %}


